In [1]:
import pandas as pd, numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
data = pd.read_csv('./input/input.csv')

In [3]:
data.describe()

,contribution,contest_count,rating,max_rating,friends_count,problem_count,avg_difficulty,avg_difficulty20,median,data structures,...,difficulty_bucket3,difficulty_bucket4,difficulty_bucket5,difficulty_bucket6,difficulty_bucket7,difficulty_bucket8,difficulty_bucket9,difficulty_bucket10,difficulty_bucket11,difficulty_bucket12
count,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,...,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.000000,6441.0,6441.000000
mean,0.648968,20.576619,1440.101848,1556.414687,28.782487,127.123428,1206.016621,1629.946308,1181.183046,8.819593,...,18.191430,15.219531,7.868964,4.616053,2.162552,1.292656,0.574755,0.152150,0.0,0.022667
std,5.745607,20.917052,232.426607,182.517250,70.549313,154.928163,167.440872,282.403082,177.788077,17.913033,...,24.797218,24.712344,16.140394,13.114247,7.917106,5.984573,2.908497,1.113085,0.0,0.259805
min,-43.000000,1.000000,603.000000,1366.000000,0.000000,1.000000,500.000000,500.000000,500.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.000000,5.000000,1287.000000,1413.000000,4.000000,25.000000,1092.592593,1443.589744,1100.000000,0.000000,...,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
50%,0.000000,14.000000,1414.000000,1488.000000,11.000000,71.000000,1192.391304,1607.407407,1200.000000,2.000000,...,8.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
75%,0.000000,28.000000,1581.000000,1659.000000,29.000000,171.000000,1301.111111,1794.444444,1300.000000,9.000000,...,26.000000,19.000000,7.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000
max,151.000000,163.000000,2500.000000,2578.000000,1657.000000,1611.000000,2013.186813,2716.666667,2000.000000,292.000000,...,233.000000,300.000000,232.000000,201.000000,162.000000,132.000000,81.000000,26.000000,0.0,8.000000

In [4]:
data = pd.concat([data, pd.get_dummies(data["organization"],prefix='organization')], axis = 1)
data.drop(["organization"], axis = 1, inplace = True)
data = shuffle(data)
data_columns = list(data.columns)
data_columns.remove("rating")
data_columns.remove("country")
data_columns.remove("handle")
train, test = train_test_split(data, test_size = 0.3)
x_train = train[data_columns]
y_train = train["rating"]
x_test = test[data_columns]
y_test = test["rating"]

In [5]:
x_train.head()

,contribution,contest_count,max_rating,friends_count,problem_count,avg_difficulty,avg_difficulty20,median,data structures,two pointers,...,organization_National Institute of Technology Patna,"organization_Netaji Subhas Institute of Technology, Delhi",organization_Nirma University,organization_Pune Institute of Computer Technology,organization_SRM University,organization_SSN College Of Engineering,organization_SVNIT,organization_Thapar University,organization_University School of Information Technology,"organization_Vellore Institute of Technology,Vellore"
1314,0,4,1416,3,3,766.666667,900.000000,700,0,0,...,0,0,0,0,0,0,0,0,0,0
1428,0,4,1394,3,3,1100.000000,1200.000000,1100,0,0,...,0,0,0,0,0,0,0,0,0,0
5485,0,11,1529,9,18,1166.666667,1566.666667,1200,0,1,...,0,0,0,0,0,0,0,0,0,0
4176,0,43,1489,18,83,1143.373494,1487.500000,1100,2,0,...,0,0,0,0,0,0,0,0,0,0
2911,18,75,2032,92,235,1289.361702,1819.148936,1200,12,6,...,0,0,0,0,0,0,0,0,0,0

In [6]:
def get_model(x,y):
    return LinearRegression().fit(x, y)

In [7]:
predictions = np.zeros((len(test), 1))
model = get_model(x_train, y_train)
predictions = model.predict(x_test).reshape(-1, 1)
labels = y_test.values.reshape(-1, 1)
model.score(x_test, labels)
# print(predictions.shape,labels.shape)

0.7796548104573676

In [8]:
x = np.hstack([predictions,labels])

In [9]:
pd.DataFrame(x).to_csv("output.csv")